/*====== product-area =======*/
.products-area {
  /*====== product-item =======*/

  .product_items {
    position: relative;
    .owl-item {
      .product-item {
        background: $theme-color-5;
        padding: 15px;
        width: 100%;
        .product_img-1 {
          width: 180px;
          height: 178px;
          object-fit: contain;
        }
        .product_img-2 {
          width: 189px;
          height: 178px;
          object-fit: contain;
          transform: rotate(-12deg);
        }
        .product_img-3 {
          width: 205px;
          height: 178px;
          object-fit: contain;
        }
        .product_img-4 {
          width: 179px;
          height: 178px;
          object-fit: contain;
        }
        .product_img-5 {
          width: 210px;
          height: 178px;
          object-fit: contain;
        }
      }
    }
  }
  /*====== owl-stage-outer =======*/
  .owl-stage-outer {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid $color-3;
  }
  /*====== owl-stage =======*/
  .owl-stage :not(:last-of-type) {
    border-right: 1px solid $color-3;
  }
}

// best selling

.best-selling-area {
  .card-item {
    cursor: pointer;
    padding: 25px;
    @include border-radius(20px);
    .card-img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card-content {
      .card-heading {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        .shoping-icon {
          cursor: pointer;
          font-size: $font-size-24;
          background: $theme-color-2;
          text-align: center;
          padding: 8px;
          @include border-radius(50px !important);
          color: $theme-color-5;
        }
      }
      .info-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .star {
          cursor: pointer;
          display: inline-block;
          font-size: $font-size-18;
          &:nth-child(-n + 3) {
            color: $color-10;
          }
        }
        .heart-icon {
          font-size: $font-size-22;
        }
      }
      .view-more {
        display: none;
        cursor: pointer;
        .sec_meta {
          font-size: $font-size-16;
          cursor: pointer;
        }
      }
    }
    &:hover {
      .view_show {
        display: block;
      }
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
    @media #{$laptop_m_four} {
      margin-top: 20px;
    }
  }
}

/*======== fast-food-wrapper=======*/
.fast-food-wrapper {
  color: $color-4;
  .card-item {
    background: $theme-color-5;
    width: 100%;
    @include border-radius(20px);
    .card-img {
      position: relative;
      .card-item-img {
        width: 100%;
        position: relative;
      }
      .exp-date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 11px 15px;
        background: $theme-color-5;
        font-size: $font-size-20;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        transform: translate(0px, -3px);
      }
    }
    .user-admin {
      display: flex;
      justify-content: left;
      gap: 30px;
    }
    .card-content {
      padding: 20px;
      .card-heading {
        .card-title {
          @media #{$tab_device} {
            font-size: $font-size-20 !important;
          }
        }
      }
    }
  }
}

.reqular-food {
  .owl-stage-outer {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/*======== media-card =======*/
.media-card {
  display: flex;
  align-items: flex-start;
  .media-img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    @include border-radius(8px);
    img {
      width: 100%;
      height: 100%;
      @include border-radius(8px);
    }
  }
  .media--img {
    border: 4px solid $white;
    @include box-shadow(0 0 8px 0px rgba(0, 0, 0, 0.05));
  }
  .media-img-md {
    width: 100px;
    height: 100px;
  }
  .media-img-lg {
    width: 200px;
    height: 200px;
  }
  .media-body {
    h5 {
      color: $theme-color;
      font-weight: $font-weight-semi-bold;
      line-height: 18px;
      a {
        color: $theme-color;
        @include transition(0.3s);
        &:hover {
          color: $theme-color-2;
        }
      }
    }
  }
}
