// input
.form-control {
  border: none !important;
  color: $theme-color-5 !important;
  @include border-radius(50px);
  &::placeholder {
    color: $theme-color-5 !important;
    opacity: 1; /* Firefox */
    font-size: $font-size-16;
  }
  &:focus {
    box-shadow: none !important;
  }
}
.text-area {
  @include border-radius(20px);
}
.form-select {
  width: 100%;
  padding: 12px 16px !important;
}
