/*-=========== join-us ===========-*/
.join-us {
  position: relative;
  background-image: url("../../images/img-31.png") !important;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  @include border-radius(20px);

  .join-wrapper {
    position: relative;
    width: 80%;
    z-index: 1;
    color: $theme-color-5;
    padding: 40px;
    @media #{$tab_device} {
      width: 100%;
    }
    @media #{$large_mobile} {
      width: 100%;
    }

    @media #{$small_mobile} {
      width: 100%;
    }
  }
  .submit-wrap {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 30px;
    @media #{$large_mobile} {
      flex-direction: column;
      width: 100%;
    }

    @media #{$small_mobile} {
      flex-direction: column;
      width: 100%;
    }
    .theme-btn {
      flex-basis: 30%;
    }
    .form-control {
      flex-basis: 70%;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      91.01deg,
      #d30000 4.38%,
      #7e0000 46.45%,
      rgba(109, 0, 0, 0) 84.23%
    );
    @include border-radius(20px);
  }
}
